:root {
  --white: white;
  --primary-color:#df001f;
  --secondary-color:#333333;
  --wrapper: 192rem;
  --container: 120rem;
  --oswald: 'Oswald', sans-serif;
  --greatvibes: 'Great Vibes', cursive;
  --droid: 'droid-sans', sans-serif;
  --opensan: 'Open Sans', sans-serif;
  --gray: #999999;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  color: var(--black);
}
img {
  display: block;
  max-width: 100%;
}
a {
  display: block;
  text-decoration: none;
}
.wrapper {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: var(--container);
  margin-left:auto;
  margin-right:auto;
  padding-left:1.5rem;
  padding-right:1.5rem;
}

